.borderbottom{
   border-bottom: 2px solid #CF21D8;
   width: 70%;
}

.redstylee{
  color:#DB0F12;
  font-size:95px;
  font
}
.pinkstylee {
    color: #FB50EA;
    font-family: impact;
    font-size: 95px;
  }
.redstyle{
  color:#DB0F12;
  font-size: 20pt;
  font-family:impact;
}
.purplestyle{
color: #6F1AEF;
font: bold 20px impact;
}
.pinkstyle{
  color: #FB50EA;
  font-size: 20px;
}
.ptfont{
  font-size: 20pt;
}

h1{
  font-size: 95px;
  font-family: impact;
  padding-bottom: 390px;
  text-align: left;
  padding-right: 50px;
}

h3 {color: #6F1AEF;
font: bold 20px impact;
}

body{
  background-image: url(Lakeith.jpg);
  font-family: impact;
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #FCD435;
  width: 700px;
}
a{
text-decoration: none;
}

footer{
  padding: 20px;
margin: 10px;
}
